@import url(./common/button.css);
@import url(./common/common.css);
@import url(./common/input.css);
@import url(./common/navPaging.css);
@import url(./common/FormGuest.css);
/* @import url(../layout/FormNewEmployee.css); */
@font-face {
    font-family: GoogleSans-Bold;
    src: url(../../asset/font/GoogleSans-Bold.otf);
}
.form{
    width: 90%;
}
.page_left {
    width: 200px;
    height: 100%;
    border-right: 1px solid rgba(0, 0, 0, 0.151);
}
.page_left-header {
    width: 100%;
    height: 48px;
    justify-content: unset;
}
.toggle_image {
    width: 24px;
    height: 24px;
    margin: 0 10px 0 16px;
    background: url(../../asset/img/toggle.png) no-repeat center /cover;
}
.text-logo {
    height: 24px;
    width: 90px;
    background: url(../../asset/cukcuk-logo.png) no-repeat center /contain;
}
.page_left-menu {
    width: 100%;
    height: calc(100% - 48px);
}
.option_menu {
    width: 100%;
    height: 44px;
    justify-content: unset;
    opacity: 0.5;
}
.option_menu:hover {
    background-color: #e5e5e5;
    color: #000;
    font-family: GoogleSans-Regular;
    opacity: 1;
}
.option_menu.focus {
    background-color: #019160;
    color: #fff;
    font-family: GoogleSans-Medium;
    opacity: 1;
}
.option_menu-icon {
    width: 20px;
    height: 20px;
    margin-left: 16px;
    margin-right: 16px;
}
.option1 {
    background: url(../../asset/icon/dashboard.png) no-repeat center /contain;
}
.option2 {
    background: url(../../asset/icon/report.png) no-repeat center /contain;
}
.option3{
    background: url(../../asset/icon/dashboard.png) no-repeat center /contain;
}
.option4 {
    background: url(../../asset/icon/dic-employee.png) no-repeat center /contain;
}
.option5 {
    background: url(../../asset/icon/dic-employee.png) no-repeat center /contain;
}
.option6 {
    background: url(../../asset/icon/setting.png) no-repeat center /contain;
}
.option_menu-text {
    height: 13px;
    font-size: 13px;
}

.page_right {
    width: calc(100% - 200px);
    height: 100%;
}
.page_right-header {
    width: 100%;
    height: 48px;
    justify-content: space-between;
}
.header_left, .header_right {
    height: 100%;
    display: flex;
    align-items: center;
}
.logo {
    width: 36px;
    height: 36px;
    margin-left: 24px;
    margin-right: 10px;
    background: url(../../asset/img/mbbank.png) no-repeat center /cover;
}
.logo_name {
    height: 20px;
    margin-right: 10px;
}
.arrow_down {
    height: 20px;
    font-size: 20px;
}
.notification {
    height: 24px;
    font-size: 24px;
}
.avartar {
    justify-content: unset;
}
.avartar_image {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #000;
    margin: 0 16px;
    background: url(../../asset/icon/avatar-default.png) no-repeat center /contain;
}
.avartar_text {
    height: 14px;
    font-size: 14px;
}
.toggle {
    height: 18px;
    margin: 0 16px;
}

.page_right-content {
    width: 100%;
    height: calc(100% - 48px);
}
.section1 {
    width: 100%;
    justify-content: space-between;
    margin-bottom: 8px;
}
.title_content {
    font-size: 20px;
    font-family: GoogleSans-Bold;
}
.add_button, .put_button, .delete_button {
    transition: all .1s linear;
    padding: 0 16px;
    text-align: left;
    margin-right: 0;
}
.add_icon, .put_icon, .delete_icon {
    margin-right: 8px;
}
.section2 {
    justify-content: space-between;
}
.show_options {
    justify-content: unset;
}
.search_option {
    height: 40px;
    position: relative;
}
.search_input {
    padding-left: 40px;
    width: 300px;
    margin-right: 10px;
}
.search_input::placeholder {
    font-size: 12px;
    color: #bbb;
    font-family: GoogleSans-Regular;
}
.search_icon {
    font-size: 16px;
    position: absolute;
    bottom: 12px;
    left: 0;
    padding-left: 16px;
    padding-right: 8px;
    opacity: 0.5;
}
.department_option {
    height: 40px;
    border-radius: 4px;
    border: 1px solid #bbb;
    width: 200px;
    margin-right: 10px;
}
.position_option {
    height: 40px;
    border-radius: 4px;
    border: 1px solid #bbb;
    width: 200px;
}
.refresh, .update, .delete {
    height: 40px;
    width: 50px;
    border-radius: 4px;
    border: 1px solid #bbb;
    margin-left: 5px;
    cursor: pointer;
    background-color: #bbb;
}
.refresh_icon {
    height: 20px;
    width: 20px;
    background: url(../../asset/icon/refresh.png) no-repeat center /contain;
    opacity: 0.7;
}
.update_icon {
    height: 20px;
    width: 15px;
    opacity: 0.7;
}
.delete_icon {
    height: 20px;
    width: 7px;
    opacity: 0.7;
    color: rgb(255, 0, 0);
}
.tables {
    width: 100%;
    height: 400px;
    overflow: auto;
}
.tables::-webkit-scrollbar {
    width: 3px;
    height: 6px;
}

.tables::-webkit-scrollbar-track {
    background-color: rgba(100, 100, 100, .5);
}

.tables::-webkit-scrollbar-thumb {
    background-color: #818B99;
}
tbody > tr:nth-child(odd){
    background-color: rgba(187, 187, 187, 0.137);
}
tbody > tr:not(:last-child), thead {
    border-bottom: 1px solid rgba(153, 153, 153, 0.541);
}
th, td {
    line-height: 48px;
    padding-right: 10px;
    max-width: calc(100% / 10);
    text-align: left;
    padding-left: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
thead {
    position: sticky;
    top: 0;
    background-color: #fff;
}
#guestgrid{
    margin-top: 10px;
}
table {
    margin-bottom: 10px;
    min-width: 1000px;
}
tbody > tr:hover {
    background-color: #ccc;
}
tbody > tr.active {
    background-color: rgba(0, 0, 255, 0.199);
}
.collab {
    justify-content: space-between;
}
.page_navigate {
    display: flex;
    align-items: center;
    width: 470px;
    justify-content: center;
    padding: 10px 0;
}
.pagging {
    justify-content: unset;
}
.pagging_number {
    padding: 10px 14px;
    border: 1px solid #ccc;
    border-radius: 50%;
    margin: 0 10px;
    cursor: pointer;
}
.pagging_number:hover {
    background-color: #bbb;
}
.pagging_number.active {
    background-color: #019160;
}
.navigate_icon {
    padding: 10px;
    margin: 0 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    cursor: pointer;
}
.navigate_icon:active {
    background-color: #ccc;
}
.next, .prev {
    padding: 10px 13px;
}
.count_rows {
    padding: 8px;
    border-radius: 5px;
    background-color: rgba(204, 204, 204, 0.575);
}
tr.active{
    background-color: #019160;
}
.required{
    border: 1px solid red;
}